{% extends 'base.html' %} {% block content %}
<style>
  .main-container {
    background-color: #fff0db;
    padding: 2rem;
    border: 1px solid #808080;
  }
</style>
<div class="main-container">
  <h1>{% block title %} About PapaPizza {% endblock %}</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus
    suscipit arcu id pharetra. Morbi libero libero, gravida a nulla vitae,
    faucibus mattis quam. Pellentesque malesuada risus eu justo fringilla
    venenatis. Fusce quam est, hendrerit ac fermentum in, faucibus eu augue. Ut
    sed metus at diam pellentesque iaculis. Curabitur dui erat, auctor vitae
    sapien et, vulputate gravida sem. Aenean rhoncus iaculis dolor. Nam velit
    sapien, venenatis quis ornare eget, molestie id urna. Nam ac est eu arcu
    blandit volutpat. Integer viverra eros odio, a fermentum turpis hendrerit
    in. Ut augue sem, facilisis ut orci non, tristique luctus lorem. Fusce non
    erat at lorem viverra semper a ut sem. Mauris sed purus orci. Fusce eu eros
    vestibulum, facilisis elit ut, egestas nibh. Phasellus commodo dui
    consectetur, ultricies tortor sit amet, bibendum lorem. Nulla tortor purus,
    volutpat non vulputate sed, egestas id arcu. Nunc laoreet vitae lorem vel
    iaculis. Praesent neque arcu, faucibus vitae tellus sit amet, ullamcorper
    placerat augue. Sed accumsan sit amet nisl nec aliquam. Pellentesque orci
    felis, condimentum sit amet velit et, accumsan iaculis odio. Aenean ac nulla
    nec purus convallis mattis lobortis vitae risus. Vestibulum ac ultricies
    diam. Donec ut blandit neque, a vulputate eros. Suspendisse laoreet bibendum
    tristique. Curabitur iaculis bibendum dui. Nullam rhoncus urna ac massa
    eleifend dapibus. Nullam nisi nisi, molestie et vehicula sit amet,
    ullamcorper ac risus. Maecenas vulputate augue at velit tempus eleifend.
    Phasellus volutpat tristique eros, in sagittis dolor ultricies sed. Aenean
    sed mi nec est luctus scelerisque et vel nisi. Vestibulum suscipit placerat
    sem, id pharetra erat varius non. Proin diam est, feugiat ac urna et,
    posuere venenatis ipsum. Sed vulputate neque nec arcu pharetra ultricies.
    Phasellus interdum erat urna, commodo vestibulum risus pellentesque
    venenatis.
  </p>
</div>
{% endblock %}
