{% extends 'base.html' %}

{% block content %}
<style>
    .outer {
        background-color: #FFF0DB;
        padding-left: 1rem;
        padding-right: 1rem;
        border: 1px solid #808080;
        border-radius: 6px;
    }
    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -15px;
        margin-bottom: -15px;
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .price {
        font-weight: bold;
        font-size: x-large;
        padding-left: 1rem;
        /* i want price to be on the very right of the grid */
        position: relative;
        right: 0;
        justify-self: right;
        padding-right: 2rem;
    }

    .extras {
        font-weight: 500;
        font-size: large;
        padding-left: 1rem;
        /* i want price to be on the very right of the grid */
        position: relative;
        right: 0;
        justify-self: right;
        padding-right: 2rem;
    }

    .checkout-button {
        background-color: #fb2828;
        border-radius: 5px;
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 1rem;
        cursor: pointer;
        outline: none;
        border: none;
        color: white;
        text-decoration: none;
        width: 40%;
        margin-left: 30%;
        grid-column: span 2;
    }
    button:disabled,
    button[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }
    .h2 {
        font-size: 1.5rem;
    }
    #details {
        border: 1px solid #616161;
        border-radius: 5px;
    }
    .grid-acc {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    }

    #calcs {
        /* 2 columns 4 rows grid */
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }
    
    #calcs p, #calcs h1 {
        margin: 0;
        padding: 0.5rem;
    }
    

</style>
<div class="outer">
    <h1>{% block title %} Cart {% endblock %}</h1>
    <p>Here are the items in your cart. You can remove items from your cart or place your order.</p>
    <hr>
    {% if items | length == 0 %}
        <p style="text-align: center; font-size: x-large; font-weight: 600;">Your cart is empty! Add some items.</p>
    {% else %}
    {% for item in items %}
        {% if item.is_customisable() %}
            <div class="product">
                <h3>{{item.name}}</h3>
                <p class="price">
                    ${{"{:.2f}".format(item.price)}}
                </p>
            </div>
            {% for option in item.options %}
                <b style="padding-left: 1rem; padding-top: 0.2rem; padding-bottom: 0.2rem;">{{option.name}}</b>
                <br>
                {% for suboption in option.dict %}
                    {% if option.dict[suboption][1] %}
                        <span style="padding-left: 2rem; padding-top: 0.2rem; padding-bottom: 0.2rem;">> {{suboption}} (+${{"{:.2f}".format(option.dict[suboption][0])}})</span>
                        <br>
                    {% endif %}
                {% endfor %}
                <br>
            {% endfor %}
            <hr>
        {% else %}
            <div class="product">
                <h3>{{item.name}}</h3>
                <p class="price">
                    ${{"{:.2f}".format(item.price)}}
                </p>
            </div>
            <hr>
        {% endif %}
    {% endfor %}
    
    <div class="grid2">
        <div id="details">
            {% if not current_user.is_authenticated %}
        <p>You must be logged in to order</p>
    {% else %}
            <div class="grid-acc">
            <div>
                <h1 style="text-decoration: none;font-size: xx-large; color:#fb2828;padding-left:10px; float: left; padding-bottom: 0rem !important; margin-bottom: 0rem !important;">PapaPizza</h1>
            </div>
            <div style="grid-column: 2/6;">
            <p style="opacity: 0.8; font-size: x-large; float: right; padding-right: 10px; font-weight: 700;">account</p>
            </div>
                <div style="grid-column: 1/5;">
                    <p style="font-size: large;padding-left: 10px;"><b>Name: </b>{{current_user.first_name}} {{current_user.last_name}} (<b>Email: </b>{{current_user.email}})</p>
                    <p style="font-size: large;padding-left: 10px;"><b>Address: </b>{{current_user.address}}</p>
                    <form method="post" style="padding-left:10px;font-size:large;padding-bottom: 13px;">
                        <label for="delivery"><b>Delivery:</b></label>
                        <input type="checkbox" name="delivery" onchange="(function(){
                            document.getElementsByName('delivery')[0].form.submit();
                            return false;
                        })();return false;" {{"checked" if delivery == True }}>
                    </form>
                </div>
                <div style="grid-column: 5/6;">
                    {% if current_user.loyalty_member %}
                       <image src="static/loyalty.png" style="width:80%; padding-right: 10px;">
                    {% endif %}
                </div>
            </div>
            {% endif %}

        </div>
        <div class="calcbox">
            <div id="calcs">
                <div style="grid-column: 1/2;">
                    <p style="font-weight: 700; font-size: x-large;">Subtotal:</p>
                </div>
                <div style="grid-column: 2/3; padding-right: 28px;">
                    <p style="text-align: right; color: #fb2828; font-size: x-large;font-weight: 700;">${{"{:.2f}".format(subtotal)}}</p>
                </div>
                <div style="grid-row: 2/3; grid-column: 1/2; height:10px !important;">
                    {% if delivery %}
                        <p style="font-weight: 600; font-size: large;">Delivery:</p>
                    {% else %}
                        <p style="font-weight: 600; font-size: large;">Pickup:</p>
                    {% endif %}
                </div>
                <div style="grid-row: 2/3; grid-column: 2/3; padding-right: 28px;">
                    {% if delivery %}
                        <p style="text-align: right; font-size: large; font-weight: 600;">$8.00</p>
                    {% else %}
                        <p style="text-align: right; font-size: large; font-weight: 600;">FREE</p>
                    {% endif %}
                </div>
                <div style="grid-row: 3/4; grid-column: 1/2;">
                    {% if current_user.loyalty_member %}
                        <p style="font-weight: 600; font-size: large;">Loyalty Discount:</p>
                    {% elif over_one_hundred %}
                        <p style="font-weight: 600; font-size: large;">Over One Hundred Discount:</p>
                    {% else %}
                        <p style="font-weight: 600; font-size: large;">Discount:</p>
                    {% endif %}
                </div>
                <div style="grid-row: 3/4; grid-column: 2/3; padding-right: 28px;">
                    {% if current_user.loyalty_member %}
                        <p style="text-align: right; font-size: large; font-weight: 600;">-${{"{:.2f}".format(discount)}}</p>
                    {% elif over_one_hundred %}
                        <p style="text-align: right; font-size: large; font-weight: 600;">-${{"{:.2f}".format(discount)}}</p>
                    {% else %}
                        <p style="text-align: right; font-size: large; font-weight: 600;">None</p>
                    {% endif %}
                </div>
                <div style="grid-row: 4/5; grid-column: 1/2;">
                    <p style="font-weight: 700; font-size: large;">Price excl. GST:</p>
                </div>
                <div style="grid-row: 4/5; grid-column: 2/3; padding-right: 28px;">
                    <p style="text-align: right; font-size: large; font-weight: 700;">${{"{:.2f}".format(gst*10)}}</p>
                </div>
                <div style="grid-row: 5/6; grid-column: 1/2;">
                    <p style="font-weight: 700; font-size: xx-large;">Total: <span style="font-size: medium !important; font-weight: 400 !important;">(incl. ${{"{:.2f}".format(gst)}} GST)</span>
                    </p>
                </div>
                <div style="grid-row: 5/6; grid-column: 2/3; padding-right: 28px;">
                    <p style="text-align: right; color: #fb2828; font-size: xx-large;font-weight: 700;">${{"{:.2f}".format(total)}}</p>
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        <input type="hidden" name="place_order">
        {% if current_user.is_authenticated %}
        <button class="checkout-button" type="submit">Place Order</button>
        {% else %}
        <button class="checkout-button" type="submit" disabled>You must be logged in to order</button>
        {% endif %}
    </form>
    {% endif %}
</div>
{% endblock %}